<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/bootstrap.min.js"></script>
    <title>Panel de Control</title>
</head>

<body class="bg-gradient">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="border p-5 bg-light box-border">
                <h4 class="text-center">Panel de Control</h4>
                <br>
                <a href="usuarios.html"><button type="button" class="btn btn-outline-primary">Usuarios</button></a>
                <a href="proveedores.html"><button type="button" class="btn btn-outline-primary">Proveedores</button></a>
                <a href="productos.html"><button type="button" class="btn btn-outline-primary">Productos</button></a>
                <a href="ventas.html"><button type="button" class="btn btn-outline-primary">Ventas</button></a>
                <a href="detalle_de_ventas.html"><button type="button" class="btn btn-outline-primary">Detalle de ventas</button></a>
            </div>
        </div>
    </div>
</body>

</html>