<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="../js/bootstrap.min.js"></script>
    <title>Usuarios</title>
</head>

<body class="bg-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active p-0" aria-current="page" href="Inicio.html"><button
                                class="btn btn-sm btn-outline-light" type="button"><i
                                    class="bi bi-arrow-left-circle"></i> Atrás</button></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar datos" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <br>

    <a type="button" class="btn-flotante" data-bs-toggle="modal" data-bs-target="#registroModal">Agregar usuario</a>
    
    <div class="container">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="border p-5 bg-light box-border">
                <h4 class="text-center">Panel de control para Usuarios</h4>
                <br>
                <table class="table table-hover">
                    <thead class="sticky-top table-dark sticky-offset centrar-thead">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Teléfono</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Contraseña</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Fecha de actualización</th>
                            <th scope="col" colspan="2">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>00000001</td>
                            <td>Nombre 1</td>
                            <td>Apellido 1</td>
                            <td>3100000001</td>
                            <td>example@tucorreo.com</td>
                            <td>password 1</td>
                            <td>Admin</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="d-flex justify-content-center">

                            <form action="">
                                <div class="mb-3">
                                    <label for="documento-form" class="form-label">Documento</label>
                                    <input type="text" class="form-control" id="documento-form"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="nombre-form" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="apellido-form" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="telefono-form" class="form-label">Telefono</label>
                                    <input type="text" class="form-control" id="telefono-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="correo-form" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="correo-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="password-form" class="form-label">Contraseña</label>
                                    <input type="text" class="form-control" id="password-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="passwordConfirm-form" class="form-label">Confirme la Contraseña</label>
                                    <input type="text" class="form-control" id="passwordConfirm-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="rol-form" class="form-label">Rol</label>
                                    <select class="form-select" name="rol-select" id="rol-form">
                                        <option selected>Elija una opción</option>
                                        <option value="ADMIN">Administrador</option>
                                        <option value="USER">Usuario</option>
                                    </select>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="d-flex justify-content-center">

                            <form action="">
                                <div class="mb-3">
                                    <label for="documento-form" class="form-label">Documento</label>
                                    <input type="text" class="form-control" id="documento-form"
                                        aria-describedby="emailHelp">
                                </div>
                                <div class="mb-3">
                                    <label for="nombre-form" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" id="nombre-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="apellido-form" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" id="apellido-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="telefono-form" class="form-label">Telefono</label>
                                    <input type="text" class="form-control" id="telefono-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="correo-form" class="form-label">Correo</label>
                                    <input type="email" class="form-control" id="correo-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="password-form" class="form-label">Contraseña</label>
                                    <input type="text" class="form-control" id="password-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="passwordConfirm-form" class="form-label">Confirme la Contraseña</label>
                                    <input type="text" class="form-control" id="passwordConfirm-form"
                                        aria-describedby="emailHelp">
                                </div>

                                <div class="mb-3">
                                    <label for="rol-form" class="form-label">Rol</label>
                                    <select class="form-select" name="rol-select" id="rol-form">
                                        <option selected>Elija una opción</option>
                                        <option value="ADMIN">Administrador</option>
                                        <option value="USER">Usuario</option>
                                    </select>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>