<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
    <script src="../js/bootstrap.min.js"></script>
    <title>Usuarios</title>
</head>

<body class="bg-gradient">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active p-0" aria-current="page" href="Inicio.html"><button
                                class="btn btn-sm btn-outline-light" type="button"><i
                                    class="bi bi-arrow-left-circle"></i> Atrás</button></a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar datos" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <br>

    <a type="button" class="btn-flotante" data-bs-toggle="modal" data-bs-target="#registroModal">Generar Venta</a>

    <div class="container">
        <div class="d-flex justify-content-center align-items-center min-vh-100">
            <div class="border p-5 bg-light box-border">
                <h4 class="text-center">Panel de control para Ventas</h4>
                <br>
                <table class="table table-hover">
                    <thead class="sticky-top table-dark sticky-offset centrar-thead">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">ID Cliente</th>
                            <th scope="col">ID Usuario</th>
                            <th scope="col">Total</th>
                            <th scope="col">Fecha de creación</th>
                            <th scope="col">Fecha de actualización</th>
                            <th scope="col" colspan="2">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td class="centrar-thead"><a type="button" class="link-info" data-bs-toggle="modal"
                                    data-bs-target="#infoModal">1</a></td>
                            <td class="centrar-thead"><a type="button" class="link-info" data-bs-toggle="modal"
                                    data-bs-target="#infoUModal">1</a></td>
                            <td>$3.000.00</td>
                            <td>2022-05-22</td>
                            <td>2022-05-22</td>
                            <td><button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-outline-danger"><i
                                        class="bi bi-trash"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar datos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="d-flex justify-content-center">

                            <form action="">

                                <div class="mb-3">
                                    <label for="idcliente-form" class="form-label">ID Cliente</label>
                                    <select class="form-select" name="rol-select" id="idcliente-form">
                                        <option selected>Elija una opción</option>
                                        <option value="1">1 - David Nova</option>
                                        <option value="2">2 - Milena Cuenca</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="idusuario-form" class="form-label">ID Usuario</label>
                                    <select class="form-select" name="rol-select" id="idusuario-form">
                                        <option selected>Elija una opción</option>
                                        <option value="1">1 - Miguel Cutiva</option>
                                        <option value="2">2 - Diego Romero</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="total-form" class="form-label">Total</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" aria-label="Precio" id="precio-form">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registroModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Generar Venta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="d-flex justify-content-center">

                            <form action="">

                                <div class="mb-3">
                                    <label for="idcliente-form" class="form-label">ID Cliente</label>
                                    <select class="form-select" name="rol-select" id="idcliente-form">
                                        <option selected>Elija una opción</option>
                                        <option value="1">1 - David Nova</option>
                                        <option value="2">2 - Milena Cuenca</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="idusuario-form" class="form-label">ID Usuario</label>
                                    <select class="form-select" name="rol-select" id="idusuario-form">
                                        <option selected>Elija una opción</option>
                                        <option value="1">1 - Miguel Cutiva</option>
                                        <option value="2">2 - Diego Romero</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="total-form" class="form-label">Total</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">$</span>
                                        <input type="text" class="form-control" aria-label="Precio" id="precio-form">
                                        <span class="input-group-text">.00</span>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Guardar cambios</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información del Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="d-flex justify-content-center">

                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">David Nova</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Documento: 106975008</h6>
                                    <p class="card-text">
                                        Telefono : 3153481112
                                        <span><br></span>
                                        Correo: tucorreo@example.com
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="infoUModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Información del Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="d-flex justify-content-center">

                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Miguel Cutiva</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Documento: 52184567</h6>
                                    <p class="card-text">
                                        Telefono : 3154569978
                                        <span><br></span>
                                        Correo: tucorreo@example.com
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>